<div class="store-card !bg-white/5 !border !border-white/10 rounded-lg shadow-md overflow-hidden flex flex-col">
  <!-- logo/banner -->
  <div class="h-32 w-full bg-gray-100 flex items-center justify-center">
    <img
      [src]="logoUrl"
      alt="{{ boutique.name }} logo"
      class="h-full w-full object-cover"
      appImageError
    />
  </div>

  <!-- content -->
  <div class="p-4 flex-1 flex flex-col justify-between">
    <div>
      <h3 class="text-lg font-semibold mb-1 truncate">{{ boutique.name }}</h3>
      <p class="text-sm text-gray-600 mb-1">{{ boutique.category }}</p>
      <p class="text-sm text-gray-300 mb-2" style="display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;">{{ boutique.description }}</p>
      <div class="flex items-center text-yellow-600 mb-2">
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          stroke="none"
          class="w-4 h-4 mr-1"
        >
          <polygon
            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
          ></polygon>
        </svg>
        <span class="text-sm font-medium">{{ rating }}</span>
      </div>
    </div>

    <a
      [routerLink]="['/customer','boutique', boutique._id]"
      class="mt-2 !no-underline inline-block text-center bg-matcha-spring text-white py-2 px-4 rounded hover:bg-matcha-spring-dark"
      >Visiter</a
    >
  </div>
</div>
