# Copier ce fichier en .env pour le développement local
# Ce fichier .env est lu par scripts/set-env.js au démarrage

# URL de l'API backend
# - En LOCAL  : http://localhost:3000/api
# - En PROD   : https://m1p13mean-tendry-ricardo.onrender.com/api
API_URL=https://m1p13mean-tendry-ricardo.onrender.com/api

# Clé publique Stripe
STRIPE_PUBLIC_KEY=pk_test_51T6GHF9bqT14xCYZ0VMGADcVAnHEx0gUiyEv8pdeW3icSX5XggPdmTktkDTC0zA3MkuzjtQ5f9SPWQnMNtjTBJnz001W4Yh6PA
