<!--productListComponent pour afficher une liste de produit-->
<div class="p-8 m-y-4 mt-4 min-h-screen bg-matcha-dark rounded-xl shadow-md border-white/10 border-2">
    <h2 class="text-3xl font-bold mb-8 text-white border-l-4 border-matcha-spring pl-4">Liste des produits Matcha & co</h2>
        <div class="filters-wrapper mb-8 relative">
            <button class="filter-nav left" (click)="scrollFilters(-240)" aria-label="Précédent">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div #filters class="filters-container !mx-16 flex gap-4 overflow-x-auto no-scrollbar border-b border-white rounded-xl px-2">
                <!--Les filtres par catégory, à rajouter une liste complète plus tard-->
                <button 
                    (click)="setFilter('Tous')"
                    [class.bg-matcha-spring]="selectedCategory() === 'Tous'"
                    [class.text-white]="selectedCategory() === 'Tous'"
                    class="filter-btn"
                >
                    Tous
                </button>
                @for(cat of categories(); track cat){
                        <button 
                            (click)="setFilter(cat)"
                            [class.bg-matcha-spring]="selectedCategory() === cat"
                            [class.text-white]="selectedCategory() === cat"
                            class="filter-btn"
                        >
                            {{cat}}
                        </button>
                }
            </div>

            <button class="filter-nav right" (click)="scrollFilters(240)" aria-label="Suivant">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    <!--Message de chargement-->
    @if (isLoading()) {
        <div class="flex items-center justify-center h-64">
            <span class="text-matcha-spring animate-pulse">Chargement des produits...</span>
        </div>
    }@else {
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <!--Affichage des produits filtrés-->
            @for(product of filteredProducts(); track product._id){
                <!--Carte de chaque produit-->
                <app-product-card [product]="product" (addToShoppingCart)="handleAddToCart($event)"></app-product-card>
            }
        </div>
    }
</div>
