<aside class="w-64 bg-matcha-dark flex-none min-h-screen overflow-y-auto border-r border-white/5 hidden md:block">
    <div class="flex-1 space-y-1">
        <p class="text-[10px] text-gray-500 font-bold uppercase tracking-widest px-4 mb-4">Navigation</p>
        <a
            routerLink="/home"
            routerLinkActive="bg-matcha-spring/10 border-r-2 border-matcha-spring text-matcha-spring"
            class="flex gap-3 items-center px-4 py-3 text-gray-400 rounded-lg hover:bg-white/5 hover:text-white transition-all group"
            >
            <span class="font-medium text-sm">Accueil</span>
        </a>
        <a 
            routerLink="/store" 
            routerLinkActive="bg-matcha-spring/10 border-r-2 border-matcha-spring text-matcha-spring" 
            class="flex gap-3 items-center px-4 py-3 text-gray-400 rounded-lg hover:bg-white/5 hover:text-white transition-all group"
        >
            <span class="font-medium text-sm">Tableau de bord</span>
        </a>

        <a 
            routerLink="/admin" 
            routerLinkActive="bg-matcha-spring/10 border-r-2 border-matcha-spring text-matcha-spring" 
            class="flex gap-3 items-center px-4 py-3 text-gray-400 rounded-lg hover:bg-white/5 hover:text-white transition-all group"
        >
            <span class="font-medium text-sm">Admin</span>
        </a>
    </div>
    <div class="mt-auto p-4 bg-white/5 rounded-2xl border border-white/5">
        <div class="flex items-center gap-3">
            <div class="w-10 h-10 bg-matcha-spring/20 rounded-full flex items-center justify-center font-bold text-matcha-spring">U</div>
            <div class="overflow-hidden text-ellipsis">
                <p class="text-white font-bold text-sm truncate">{{name()}}</p>
                @if (currentUser()) 
                {<p class="text-xs text-gray-500 truncate">Connecté</p>}
                
            </div>
        </div>
    </div>
</aside>